<!DOCTYPE html>
<html>
<head>

	<title>Contribute</title>
	<meta charset="utf-8">
	
	<!-- Custom Styles for website -->
	<link rel="stylesheet" href="./static/css/experiment.css">


	<!-- Standard Imported Bootstrap and More -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script type="text/javascript" src="./static/js/particles.min.js"></script>

</head>
<body>

	<div class="container-fluid h-10">
		<div id="particles-js"></div>
	</div>

	<nav class="navbar navbar-expand-lg main-nav header">
	  <a href="./index.html" class="logo">
	  	<h1><strong>NLP@IIIT-H</strong></h1>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
	    <i class="fas fa-bars"></i>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarToggler">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#about">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="experiments.html">Experiments</a>
	      </li>      
	    </ul>
	  </div>
	</nav>
	
	<div class="container-fluid experiment-bg h-50">
		<div class="row h-100">
			<div class="col align-self-center text-center">
				<h1 class="txt-blue bold">
					List of Experiments
				</h1>
			</div>
		</div>
	</div>

	<div class="container blocko">
		<div class="row">
			<div class="container-fluid" id="project5">
	            <div class="row justify-content-center no-gutters">
	              <div class="col-lg-6">
	                <img class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" src="./static/img/experiment.png" alt="Shake it Off">
	              </div>
	              <div class="col-lg-6 order-sm-first">
	                <div class="text-center h-100 project">
	                  <div class="d-flex h-100">
	                    <div class="project-text2 w-100 my-auto text-center text-lg-right">
	                      <h4>Building Chunker</h4>
	                      <p class="mb-0">
	                        Chunking is an analysis of a sentence which identifies the constituents (noun groups, verbs, verb groups, etc.) which are correlated. These are non-overlapping regions of text.
	                        <br>
	                        <i>The objective of the experiment is to know the importance of selecting proper features for training a model and size of training corpus in learning how to do cunking. </i>
	                      </p>
	                      <br>
	                      <a href="./Experiments/Building-Chunker/index.html" class="btn btn-light">Visit</a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	           </div>            
	        </div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./static/js/particles.js"></script>
</body>
</html>