<!DOCTYPE html>
<html>
<head>

	<title>Contribute</title>
	<meta charset="utf-8">
	
	<!-- Custom Styles for website -->
	<link rel="stylesheet" href="/static/css/experiment.css">


	<!-- Standard Imported Bootstrap and More -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script type="text/javascript" src="/static/js/particles.min.js"></script>

</head>
<body>

	<div class="container-fluid h-10">
		<div id="particles-js"></div>
	</div>

	<nav class="navbar navbar-expand-lg main-nav header">
	  <a href="{{ url_for('index') }}" class="logo">
	  	<h1><strong>NLP@IIIT-H</strong></h1>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
	    <i class="fas fa-bars"></i>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarToggler">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('index', _anchor='about') }}">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('experiments') }}">Experiments</a>
	      </li>      
	    </ul>
	  </div>
	</nav>
	
	<div class="container-fluid bg-git h-50">
		<div class="row h-100">
			<div class="col align-self-center text-center">
				<h1 class="txt-blue bold">
					Contribute
				</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row blocko">
			<div class="col text-center">
				<i>We are open to first time contributors!</i>
			</div>
		</div>
		<div class="row blocko">
			<div class="col text-justify">
				<h2>Code Structure</h2>
				
				<br>

				<p>The NLP lab is built using Flask and the templating engine jinja. The primary reason flask is used is to facilitate future expansion towards interactive content while being lightweight enough for quick and easy development. The logic behind most experiments are implemented in Python </p>

				<br>

				<pre>
-Building Chunker
	-- > main.py is reponsible for the flask setup and routing
	-- > static/ contains all static parts such as the css, js and more
	-- > templates contains all the HTML files. These can only be viewed using localhost as rendering is done only when flask app is initialised.
				</pre>
			</div>
		</div>

		<br>

		<div class="row blocko">
			<div class="col text-justify">
				<h2>Pull Request Checklist</h2>
				
				<br>

				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label" for="customCheck1">Ensure that you have read the contributing guidelines.</label>
				</div>

				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck2">
				  <label class="custom-control-label" for="customCheck2">Pull Request references an approved and open issue</label>
				</div>

				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck2">
				  <label class="custom-control-label" for="customCheck2">Pull Request references an approved and open issue</label>
				</div>

				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck2">
				  <label class="custom-control-label" for="customCheck2">Modified code follows the standard style guide used as well</label>
				</div>
			</div>
		</div>

		<br>

		<div class="row blocko">
			<div class="col text-justify">
				<h2>Review Process</h2>

				<br>

				<p>Once you have raised or claimed an issue, we will ensure that the appropriate tags are placed. This is done to ensure a systematic workflow for all involved.</p>

				<p>Every issue will have one person assigned to assist you in solving the issue and will review your work.</p>
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/js/particles.js"></script>
</body>
</html>