<!DOCTYPE html>
<html>
<head>

	<title>Natural Language Processing Lab</title>
	<meta charset="utf-8">
	
	<!-- Custom Styles for website -->
	<link rel="stylesheet" href="./static/css/styles.css">


	<!-- Standard Imported Bootstrap and More -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script type="text/javascript" src="./static/js/particles.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-expand-lg main-nav">
	  <a href="./index.html" class="logo">
	  	<h1><strong>NLP@IIIT-H</strong></h1>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
	    <i class="fas fa-bars"></i>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarToggler">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#about">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="experiments.html">Experiments</a>
	      </li>      
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid h-50 header">
		<div class="op-50" id="particles-js"></div>
		<div class="row">
			<div class="col align-self-center text-center">
				<h1 class="txt-blue bold">
					VLABS: Natural Language Processing
				</h1>
			</div>
		</div>
	</div>

	<!-- Purely for height reaons -->
	<div class="blocko"></div>

	<div class="container blocko" id="about">
		<div class="row">
			<div class="col text-justify">
				<h2>About</h2>
				<br>
				<p>
					Natural Language is the language written or spoken by humans in their daily life. Natural Language Processing is an interdisciplinary field dealing with human-computer interaction and computer aided processing of human language. It combines major concepts from computer science, artificial intelligence, and linguistics.
				</p>
				<p>
					The objective of Natural Language Processing lab is to introduce the students with the basics of NLP which will empower them for developing advanced NLP tools and solving practical problems in the field.
				</p>
				<p>
					The experiments in this lab are arranged in a logical sequence to inculcate a new concept at every step, starting from very basic ones to advanced ones.
				</p>
			</div>
		</div>
	</div>

	<div class="container blocko">
		<div class="row">
			<div class="col text-justify">
				<h2>Target Audience</h2>
				<br>
				<p>
					This lab is primarily meant for those curently in the following years of study or higher:
					<ul>
						<li>PG</li>
						<li>Research Students</li>
						<li>UG Fourth Year Students</li>
						<li>UG Third Year Students</li>
					</ul>
				</p>
			</div>
		</div>
	</div>

	<div class="container blocko">
		<div class="row">
			<div class="col text-justify">
				<h2>References</h2>
				<br>
				<p>- Jurafsky and Martin: "Speech and Langugage Procesing", Prentice Hall, 2000.
					<br>
- Akshar Bharati, Rajeev Sangal and Vineet Chaitanya: "Natural Language Processing: A Paninian Perspective", Prentice-Hall of Indiaa , New Delhi, 1995.
				</p>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./static/js/particles.js"></script>
</body>
</html>